<p id="notice"><%= notice %></p>

<h1>Seriesfranchises</h1>

<table>
  <thead>
    <tr>
      <th>Series</th>
      <th>Franchise</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @seriesfranchises.each do |seriesfranchise| %>
      <tr>
        <td><%= seriesfranchise.series %></td>
        <td><%= seriesfranchise.franchise %></td>
        <td><%= link_to 'Show', seriesfranchise %></td>
        <td><%= link_to 'Edit', edit_seriesfranchise_path(seriesfranchise) %></td>
        <td><%= link_to 'Destroy', seriesfranchise, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Seriesfranchise', new_seriesfranchise_path %>
