<div class="well">
 
  <div class="row">
    <div class="col-xs-8">
      <h4><%= link_to book.title, book %></small></h4>
    </div>
    <div class="col-xs-4">
      
      <%= form_for order_item, remote: true do |f| %>
		<h4 class="text-right">Price: <span style="color: green"><%= number_to_currency book.price %></span></h4>
        <div class="input-group">
		  <% if OrderItem.where(book_id: book.id, order_id: session[:order_id]).count == 0 %>
          <div class="input-group-btn">
            <%= f.hidden_field :book_id, value: book.id %>
            <%= f.submit "Add to Cart", class: "btn btn-primary" %>
          </div>
		  <% end %>
        </div>
      <% end %>
    </div>
    
  </div>
</div>