<p id="notice"><%= notice %></p>
<% @authors = Author.where(book_id: @book.id) %>
<% @authored = false %>
<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Written by:</strong>
  <% @authors.each do |author| %>
    <% if author.user_id == session[:user_id] %>
	  <% @authored = true; %>
	<% end %>
    <%= link_to author.user.penName, author.user %><br/>
  <% end %>
</p>

<p>
  <strong>Price:</strong>
  <%= number_to_currency(@book.price, locale: :ca) %>
</p>

<p>
  <strong>Words:</strong>
  <%= @book.words %>
</p>

<p>
  <strong>Published:</strong>
  <%= @book.published %>
</p>

<p>
  <strong>Synopsis:</strong>
  <%= @book.synopsis %>
</p>
<% if @authored %>
  <div class="field">
    <% @genres = Genre.all %>
    <% @genres.each do |genre| %>
	  <% if Bookgenre.where(genre_id: genre.id, book_id: @book.id).count == 0 %>
	    <div class="input-group">
          <div class="input-group-btn">
		    <%= link_to 'Add to ' + genre.name, Bookgenre.create(genre_id: genre.id, book_id: @book.id), class: "btn btn-primary" %>
          </div>
        </div>
	  <% else %>
	    <div class="input-group">
          <div class="input-group-btn">
            <% @bookgenre = Bookgenre.where(genre_id: genre.id, book_id: @book.id).first %>
			<%= link_to 'Remove from ' + genre.name, @bookgenre, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-primary" %>
          </div>
        </div>
	  <% end %>
	<% end %>
  </div>
<% end %>
<% @purchase = Purchase.where(book_id: @book.id, user_id: session[:user_id]) %>
<% @incart = OrderItem.where(book_id: @book.id, order_id: session[:order_id]) %>
<% if @authored %>
  <%= link_to 'Edit', edit_book_path(@book) %> |
  <%= link_to 'Download as .mobi' %> |
  <%= link_to 'Download as .epub' %> |
  <%= link_to 'Download as .pdf' %> |
<% elsif @purchase.count == 0 && @incart.count == 0 %>
  <%= link_to 'Add to Cart', OrderItem.create(book_id: @book.id, order_id: session[:order_id]) %> |
  <%= link_to 'Buy Now', buynow_path %> |
<% elsif @purchase.count == 0 && @incart.count == 1 %>
  <%= link_to "Remove from Cart", @incart.first, { data: { confirm: "Are you sure you wish to remove the book '#{@incart.first.book.title}' from your cart?" }, method: :delete, remote: true} %> |
  <%= link_to 'Buy Now', '#' %> |
<% else %>
  <%= link_to 'Download as .mobi' %> |
  <%= link_to 'Download as .epub' %> |
  <%= link_to 'Download as .pdf' %> |
<% end %>
<%= link_to 'Back', books_path %>
