<p id="notice"><%= notice %></p>
<% @authors = Author.where(book_id: @book.id) %>
<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Written by:</strong>
  <% @authors.each do |author| %>
    <%= link_to author.user.penName, author.user %>, 
  <% end %>
</p>

<p>
  <strong>Price:</strong>
  <%= @book.price %>
</p>

<p>
  <strong>Words:</strong>
  <%= @book.words %>
</p>

<p>
  <strong>Published:</strong>
  <%= @book.published %>
</p>

<p>
  <strong>Synopsis:</strong>
  <%= @book.synopsis %>
</p>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
