<p id="notice"><%= notice %></p>

<h1>Bookgenres</h1>

<table>
  <thead>
    <tr>
      <th>Book</th>
      <th>Genre</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bookgenres.each do |bookgenre| %>
      <tr>
        <td><%= bookgenre.book %></td>
        <td><%= bookgenre.genre %></td>
        <td><%= link_to 'Show', bookgenre %></td>
        <td><%= link_to 'Edit', edit_bookgenre_path(bookgenre) %></td>
        <td><%= link_to 'Destroy', bookgenre, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bookgenre', new_bookgenre_path %>
